/* inter */
:root {
    font-family:Inter, sans-serif;
    font-feature-settings:'liga' 1, 'calt' 1; /* fix for Chromium */

    --jint-transition:all 0.4s cubic-bezier(0.296, -0.009, 0.147, 1.002);
    --fast-transition:all 0.2s cubic-bezier(0.114, 0.307, 0.146, 1);
    --primary-overlay:#ffffff0a;
    --secondary-overlary:#ffffff20;
    --null:#00000000;
    --body:#ffffff;
    --background:#101010;

  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

body {
    background: linear-gradient(0.5turn, #101010,#002034);
    color:white;
    display: flex;
    flex-flow: column;
    height:100vh;
    animation: all 0.7s forwards;
    filter: blur(10px);
    opacity:0;
    margin:0 30%;
    border-right:1px solid var(--secondary-overlary);
    border-left:1px solid var(--secondary-overlary);
}  

.section {
    padding:10px;
    cursor:pointer;
    transition:var(--jint-transition);
    border-top:1px solid var(--secondary-overlary);
}

.section:hover{
    background:var(--primary-overlay);
    box-shadow: 0px 100px 200px #00002060;
    z-index:999;
    border-top:1px solid var(--null);
}

h1 {
    font-size:100px;
    margin-top:0;
    font-weight:550;
    text-align:left;
    margin-bottom:20px;
    font-family:'host grotesk';
    background: linear-gradient(0.5turn, var(--body), #ffffff80);
    -webkit-background-clip: text;
    color: transparent;
    line-height:1;
    padding-bottom:10px;
    cursor:default;
}

h2 {
    margin:22px 0px;
    opacity:0.5;
    font-weight:450;
    font-size:18px;
    cursor:default;
}

@keyframes all {
    to {
      filter: blur(0);
      opacity:1
    }
  }

.section-text {
    margin:0;
    margin-bottom:0px;
    font-size:28px;
    transition:var(--jint-transition);
    padding:16px;
    color:#ffffff80;
}


.section-img {
    width:100%;   
    height:0px;
    object-fit:cover;
    transition:var(--jint-transition);
    display:block;
    filter:blur(20px);
    opacity:0;
    background-color:#101010;
}

.section:hover .section-img {
    height:15vw;
    filter:blur(0px);
    opacity:1;

}

.section:hover .section-text {
    margin-bottom:14px;
    color:var(--body);
}

pill {
    background:var(--primary-overlay);
    padding:10px 15px;
    white-space:nowrap;
    text-align:left;
    cursor:default;
    margin:7px 5px 0px 0px;
    display:inline-flex;
    border-radius:100px;
}

.pills {
    text-align:left;
}

.inline-p {
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.info {
    margin:0;
    cursor:default;
}

.loc {
    height:16px;
    opacity:0.5;
    margin-right:5px;
}

inline-info {
    display:inline-flex;
    align-items:center;
    margin-bottom:20px;
}

.info:after {
    content:"·";
    opacity:0;
}

.info:hover:after {
    content:', New Zealand';
    opacity:1;
}

.button {
    text-decoration: none;
    width:fit-content;
    padding:15px 15px;
    padding-right:18px;
    font-size:20px;
    border-radius:1000px;
    align-items:center;
    transition:var(--fast-transition);
    border:1px solid var(--primary-overlay);
    display:flex;
    color:var(--body);
}

.button:hover:not(.white-button) {
    background:var(--primary-overlay);
    border:1px solid var(--null);
}

.white-button {
    background:var(--body);
    color:var(--background);
    border:none;
}

.external:after {
    content:'↗';
    font-size:0;
    filter:blur(2px);
    transition:var(--jint-transition);
}

.external:hover:after {
    content:'↗';
    opacity:1;
    font-size:20px;
    filter:blur(0px);
}

.button-icon {
    margin-right:6px;
}

.buttons {
    display:inline-flex;
    gap:10px;
}

.para {
    font-size:20px;
    line-height:1.4;
    align-items:first baseline;
}

.inline-para-img {
    height:15px;
}

a {
    text-decoration: none;
}